@import '../../../variables.css';

.mcnavbar {
  height: 100px;
  padding: 0 3%;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.mcnavbar.stick {
  background-color: #e7f2fd;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  border-bottom: none;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { background: transparent; }
  to { background: #e7f2fd; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { background: transparent; }
  to { background: #e7f2fd; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { background: transparent; }
  to { background: #e7f2fd; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { background: transparent; }
  to { background: #e7f2fd; }
}

.blacklink {
  color: rgba(0, 0, 0, 1);
}

.blacklink:hover {
  color: #1583e9;
}

.mcbtn {
  position: relative;
  z-index: 1;
  min-width: 160px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  padding: 0 50px;
  margin: 0 30px;
  text-align: center;
  text-transform: capitalize;
  color: #1583e9;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
  box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
}

.mcbtn:focus,
.mcbtn:hover {
  -webkit-box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
  box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
  background-color: #1583e9;
  color: #fff;
}

.mcnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.curlink {
  width: 70%;
  border-bottom: 2px solid #1583e9;
}
