.top-bg {
    position: absolute;
    width: 70%;
    top: 0;
    height: 100%;
    right: 0;
}
.top-bg img {
    width: 100%;
    height: auto;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.mc-list {
    list-style: none;
}

.mc-list .title {
    margin: 0.3em 0;
    font-weight: 600;
    font-style: normal;
}

.mc-list li:before {
    height: 5px;
    width: 5px;
    background-color: #b3d4fc;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    content: '';
}

.mc-list .title {
    margin: 0.3em 0;
    font-weight: 600;
    font-style: normal;
}

.mc-list .title:before {
    height: 0;
    width: 0;
    margin-right: 0;
}

.content {

}
